<h2>List Containers</h2>
<div><button (click)="getContainers()">List Container</button></div>
<ul>
  <li *ngFor="let container of containers" (click)="listFiles(container)">{{container}}<button
      (click)="deleteContainer(container)">delete</button><button (click)="setContainer(container)">select</button></li>
</ul>
<input type="text" name="containername" id="contname" #contname>
<button (click)="create(contname.value)">Add Container</button>

<h2>List Files</h2>
<div *ngIf="listItems.length> 0; else elseBlock ">
  <ul>
    <li *ngFor="let item of listItems">{{item.name}} <button (click)="downloadFile(item.name)">download</button><button
        (click)="delete(item.name)">delete</button></li>
  </ul>
</div>
<ng-template #elseBlock>selected container is empty.</ng-template>

<h2>Upload Files</h2>
<div>
  <input type="file" name="upload" multiple id="uploadID" #file />
  <button (click)="upload(file)">upload</button>
</div>